{% extends 'layout.html' %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
	<br> <br> 
	<h2>Create a New Event</h2>
	<br>
	<form method="POST">
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Event Name</label>
				<input type="text" class="form-control" name="name" value="{{ request.form['name'] }}">
			</div>
			<div class="form-group col-md-6">
				<label>Event Type</label>
				<select name="scope" class="form-control">
					<option value="convention" {% if request.form['etype'] == 'convention' %}selected='selected'{% endif %}>Convention</option>
					<option value="seminar" {% if request.form['etype'] == 'seminar' %}selected='selected'{% endif %}>Seminar</option>
					<option value="training seminar" {% if request.form['etype'] == 'training seminar' %}selected='selected'{% endif %}>Training Seminar</option>
					<option value="orientation" {% if request.form['etype'] == 'orientation' %}selected='selected'{% endif %}>Orientation</option>
					<option value="workshop" {% if request.form['etype'] == 'workshop' %}selected='selected'{% endif %}>Workshop</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label>Decription</label>
			<textarea class="form-control" name="description" value="{{ request.form['description'] }}" rows="3"></textarea>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Participants Limit</label>
				<input type="number" class="form-control" name="quota" value="{{ request.form['quota'] }}">
			</div>
			<div class="form-group col-md-6">
				<label>Scope</label>
				<input type="text" class="form-control" name="scope" value="{{ request.form['scope'] }}">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-2">
				<label>Year</label>
				<input type="number" class="form-control" name="year" value="{{ request.form['year'] }}" placeholder="YYYY">
			</div>
			<div class="form-group col-md-2">
				<label>Month</label>
				<input type="number" class="form-control" name="month" value="{{ request.form['month'] }}" placeholder="MM">
			</div>
			<div class="form-group col-md-2">
				<label>Day</label>
				<input type="number" class="form-control" name="day" value="{{ request.form['day'] }}" placeholder="DD">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Time</label>
				<input type="text" class="form-control" name="etime" value="{{ request.form['etime'] }}" placeholder="HH:MM:SS">
			</div>
			<div class="form-group col-md-6">
				<label>Venue</label>
				<input type="text" class="form-control" name="venue" value="{{ request.form['venue'] }}">
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
{% endblock %}
