{% extends 'layout.html' %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
	<br> <br> 
	<h2>Edit Student Profile</h2>
	<br>
	<form method="POST" action="./edit-profile">
		{% if oldinfo %}
		<div class="form-group">
			<label>Name</label>
			<input type="text" name="name" class="form-control" value="{{ request.form['name'] }}" placeholder="{{ oldinfo.name }}">
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Email Address</label>
				<input type="text" name="email" class="form-control" value="{{ request.form['email'] }}" placeholder="{{ oldinfo.email }}">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Degree Program</label>
				<input type="text" name="deg_prog" class="form-control" value="{{ request.form['deg_prog'] }}" placeholder="{{ oldinfo.deg_prog }}">
			</div>
			<div class="form-group col-md-6">
				<label>College</label>
				<input type="text" name="college" class="form-control" value="{{ request.form['college'] }}" placeholder="{{ oldinfo.college }}">
				<small id="emailHelp" class="form-text text-muted">*Do not abbreviate.</small>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Save</button>
		{% endif %}
	</form>
</div>
{% endblock %}