{% extends 'layout.html' %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
	<br> <br> 
	<h2>Edit Event</h2>
	<br>
	<form method="POST" action="./edit-event">
		{% if oldevent %}
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Event Name</label>
				<input type="text" class="form-control" name="name" value="{{ request.form['name'] }}" placeholder="{{ oldevent.name }}">
			</div>
			<div class="form-group col-md-6">
				<label>Event Type</label>
				<select name="etype" class="form-control">
					<option value="convention" {% if request.form['etype'] == 'convention' %}selected='selected'{% endif %}>Convention</option>
					<option value="seminar" {% if request.form['etype'] == 'seminar' %}selected='selected'{% endif %}>Seminar</option>
					<option value="training seminar" {% if request.form['etype'] == 'training seminar' %}selected='selected'{% endif %}>Training Seminar</option>
					<option value="orientation" {% if request.form['etype'] == 'orientation' %}selected='selected'{% endif %}>Orientation</option>
					<option value="workshop" {% if request.form['etype'] == 'workshop' %}selected='selected'{% endif %}>Workshop</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label>Decription</label>
			<textarea class="form-control" name="description" value="{{ request.form['description'] }}" rows="3" placeholder="{{ oldevent.description }}"></textarea>
		</div>
		<div class="form-row">
				<div class="form-group col-md-6">
					<label>Participants Limit</label>
					<input type="number" class="form-control" name="quota" value="{{ request.form['quota'] }}" placeholder="{{ oldevent.quota }}">
				</div>
				<div class="form-group col-md-6">
					<label>Scope</label>
					<input type="text" class="form-control" name="scope" value="{{ request.form['scope'] }}" placeholder="{{ oldevent.scope }}">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-2">
					<label>Year</label>
					<input type="number" class="form-control" name="year" value="{{ request.form['year'] }}" placeholder="{{ oldevent.year }}">
				</div>
				<div class="form-group col-md-2">
					<label>Month</label>
					<input type="number" class="form-control" name="month" value="{{ request.form['month'] }}" placeholder="{{ oldevent.month }}">
				</div>
				<div class="form-group col-md-2">
					<label>Day</label>
					<input type="number" class="form-control" name="day" value="{{ request.form['day'] }}"  placeholder="{{ oldevent.day }}">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Time</label>
					<input type="text" class="form-control" name="etime" value="{{ request.form['etime'] }}" placeholder="{{ oldevent.etime }}">
				</div>
				<div class="form-group col-md-6">
					<label>Venue</label>
					<input type="text" class="form-control" name="venue" value="{{ request.form['venue'] }}" placeholder="{{ oldevent.venue }}">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		{% endif %}
	</form>
	<br> <br>
	<form method="POST" action="./delete">
		<input type="hidden" value="{{ oldevent.name }}" name="todelete">
		<input type="submit" value="Delete Event">
	</form>
</div>
{% endblock %}