{% extends 'layout.html' %}

{% block body %}
	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<br> <br> <br> <br> <br> <br>
		<h1 class="display-4">Iskolendar</h1>
		<br>
		{% if un != None %}
			<h3>You are logged in as {{ un }}</h3>
		{% endif %}
        {% if utype == 0 %}
        <br> <br> <br> <br>
        <a type="button" class="btn btn-secondary btn-lg btn-block" href="/create-event">Create Event</a>
        {% endif %}

        {% if utype == 1 %}
        <br> <br> <br> <br>
        <a type="button" class="btn btn-secondary btn-lg btn-block" href="/profile">View Profile</a>
        {% endif %}

		<br> <br> <br> <br> <br> <br> <br> <br> <br>

		<div class="card-deck mb-3 text-center">
			<div class="card mb-4 box-shadow">
				{% for event in events %}
		        	<div class="card-header">
		         		<h4 class="my-0 font-weight-normal">{{event.orgname}}</h4>
		         	</div>
		         	<div class="card-body">
						<h1 class="card-title pricing-card-title">{{event.name}}</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>{% if event.description != None %} {{event.description}} {% endif %}</li>
							<li>Type: {{event.etype}}</li>
							<li>Participants Limit: {{event.quota}}</li>
							<li>Scope: {{event.scope}}</li>
							<li>Date: {{event.month}} / {{event.day}} / {{event.year}}</li>
							<li>Time: {{event.etime}}</li>
							<li>Venue: {{event.venue}}</li>
							<br> <br>
							{% if event.orgname == un %}
								<form method="POST" action="./edit" style="display: inline">
									<input type="hidden" value="{{event.name}}" name="toedit">
									<input type="submit" value="Edit Event"></form>
							    </form>
					    	{% endif %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>

{% endblock %}