<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Iskolendar</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	</head>
	<body>
		{% include 'includes/_navbar.html' %}
		<div class="container">
			{% block body %} {% endblock %}
		</div>

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	</body>
</html>