{% extends 'layout.html' %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
	<br> <br> <br> <br> <br> <br> 
	<h2>Login</h2>
	<br>
	<div class="container">
	<form action="/login-student" method="POST">
		<div class="form-group">
			<label>Student Number</label>
			<input type="text" class="form-control" placeholder="20XXXXXXX" name="student number">
		</div>
		<div class="form-group">
	    	<label for="exampleInputPassword1">Password</label>
	    	<input type="password" class="form-control" placeholder="Enter password" name="password">
		</div>
		<button type="submit" class="btn btn-primary">Login</button> or <a href="/register-student">Create a New Account</a>
	</form>
	</div>
</div>
{% endblock %}