{% extends 'layout.html' %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
	<br> <br> <br> <br> <br> <br> 
	<h2>Login</h2>
	<br>
	<div class="container">
		<form action="/login-org" method="POST">
			<div class="form-group">
				<label>Organization Name</label>
				<input type="text" class="form-control" placeholder="Enter organization name" name="organization name">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" placeholder="Enter password" name="password">
			</div>
			<button type="submit" class="btn btn-primary">Login</button> or <a href="/register-org">Create a New Account</a>
		</form>
	</div>
</div>
{% endblock %}