{% extends 'layout.html' %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
	<br> <br> <br> <br> <br> <br> 
	<h2> {{ info.name }}'s Profile</h2>
	<br>
	Student Number: {{ info.sn }}<br>
	Email Address: {{ info.email }}<br>
	Degree Program: {{ info.deg_prog }}<br>
	College: {{ info.college }}<br>
	<br>

	<form method="POST" action="./edit2" style="display: inline">
		<input type="hidden" value="{{info.sn}}" name="toeditprofile">
		<input type="submit" value="Edit Profile"></form>
	</form>

	<form method="POST" action="./delete-acc">
		<input type="hidden" value="{{ info.sn }}" name="todelete">
		<input type="submit" value="Delete Account">
	</form>
</div>
{% endblock %}