{% extends 'layout.html' %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
	<br> <br> 
	<h2>Create a New Student Account</h2>
	<br>
	<form method="POST">
		<div class="form-group">
			<label>Full Name</label>
			<input type="text" name="name" class="form-control" value="{{ request.form['name'] }}">
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Email Address</label>
				<input type="text" name="email" class="form-control" value="{{ request.form['email'] }}" placeholder="Enter email address">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Student Number</label>
				<input type="text" name="sn" class="form-control" value="{{ request.form['sn'] }}" placeholder="ex. 2015XXXXX">
			</div>
			<div class="form-group col-md-6">
				<label>Password</label>
				<input type="password" name="password" class="form-control" value="{{ request.form['password'] }}">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Degree Program</label>
				<input type="text" name="deg_prog" class="form-control" value="{{ request.form['deg_prog'] }}">
			</div>
			<div class="form-group col-md-6">
				<label>College</label>
				<input type="text" name="college" class="form-control" value="{{ request.form['college'] }}">
				<small id="emailHelp" class="form-text text-muted">*Do not abbreviate.</small>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Register</button>
	</form>
</div>
{% endblock %}