{% extends 'layout.html' %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
	<br> <br> 
	<h2>Create a New Organization Account</h2>
	<br>
	<form method="POST">
		<div class="form-group">
			<label>Organization Name</label>
			<input type="text" class="form-control" name="name" value="{{ request.form['name'] }}" placeholder="Enter organization name">
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Password</label>
				<input type="password" class="form-control" name="password" value="{{ request.form['password'] }}" placeholder="Enter password">
			</div>
			<div class="form-group col-md-6">
				<label>Acronym</label>
				<input type="text" class="form-control" name="acronym" value="{{ request.form['acronym'] }}" placeholder="Enter acronym">
			</div>
		</div>
		<div class="form-group">
			<label>Decription</label>
			<textarea class="form-control" name="description" value="{{ request.form['description'] }}" rows="3"></textarea>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Facebook URL</label>
				<input type="text" class="form-control" name="fb" value="{{ request.form['fb'] }}" placeholder="fb.com/________">
			</div>
			<div class="form-group col-md-6">
				<label>Scope</label>
				<select name="scope" class="form-control">
					<option selected>Choose...</option>
					<option value="program-restricted" {% if request.form['scope'] == 'program-restricted' %}selected='selected'{% endif %}>Program-restricted</option>
					<option value="college-restricted" {% if request.form['scope'] == 'college-restricted' %}selected='selected'{% endif %}>College-restricted</option>
					<option value="university-wide" {% if request.form['scope'] == 'university-wide' %}selected='selected'{% endif %}>University-wide</option>
				</select>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Base College</label>
				<input type="text" class="form-control" name="college" value="{{ request.form['college'] }}" placeholder="Enter N/A if none">
			</div>
			<div class="form-group col-md-6">
				<label>Base Department</label>
				<input type="text" class="form-control" name="dept" value="{{ request.form['dept'] }}" placeholder="Enter N/A if none">
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Register</button>
	</form>
</div>
{% endblock %}