{% extends 'layout.html' %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
	<br> <br> 
	<h2>Search Results</h2>
	<br>
	<div class="card-deck mb-3 text-center">
		{% if results %}
			{% for event in results %}
				<div class="card mb-4 box-shadow">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">{{event.orgname}}</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">{{event.name}}</h1>
						<ul class="list-unstyled mt-3 mb-4">
						<li>{% if event.description != None %} {{event.description}} {% endif %}</li>
						<li>Type: {{event.etype}}</li>
						<li>Participants Limit: {{event.quota}}</li>
						<li>Scope: {{event.scope}}</li>
						<li>Date: {{event.month}} / {{event.day}} / {{event.year}}</li>
						<li>Time: {{event.etime}}</li>
						<li>Venue: {{event.venue}}</li>
					</ul>
				</div>
			{% endfor %}
		{% else %}
			<h3>No Results Found</h3>
		{% endif %}
	</div>
</div>
{% endblock %}