{% extends 'layout.html' %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
	<br> <br> 
	<h2>Search Events</h2>
	<br>
	<form method="POST">
		<div class="form-group">
			<h3>By Event Type</h3>
			<select name="etype" class="form-control">
				<option selected>Choose...</option>
				<option value="convention" {% if request.form['etype'] == 'convention' %}selected='selected'{% endif %}>Convention</option>
				<option value="seminar" {% if request.form['etype'] == 'seminar' %}selected='selected'{% endif %}>Seminar</option>
				<option value="training seminar" {% if request.form['etype'] == 'training seminar' %}selected='selected'{% endif %}>Training Seminar</option>
				<option value="orientation" {% if request.form['etype'] == 'orientation' %}selected='selected'{% endif %}>Orientation</option>
				<option value="workshop" {% if request.form['etype'] == 'workshop' %}selected='selected'{% endif %}>Workshop</option>
				<option value="all" {% if request.form['etype'] == 'all' %}selected='selected'{% endif %}>Show All</option>
			</select>
		</div>
		<div class="form-group">
			<h3>By Organization</h3>
			<label>Enter Full Name of Org</label>
			<input input type="text" name="orgname" class="form-control" value="{{ request.form['orgname'] }}">
		</div>
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
</div>
{% endblock %}